* {
    margin: 0;
    padding: 0;
}

.zhengtikuangjia {
    /* background-color: red; */
    max-width: 1918px;
    max-height: 816px;
    min-width: 375px;
    min-height: 607px;
}

.toububuju {
    width: 100%;
    height: 60px;
    background-color: #373d41;
    color: #fff;
    line-height: 60px;
    padding-left: 40px;
    position: fixed;
    top: 0;
}
.toububuju > i{
    margin-right: 70px;
}

.neirongbuju {
    height: 100%;
    width: 100%;
}

.zuocelan {
    width: 375px;
    height: 660px;
    /* height: 100%; */
    position: fixed;
    z-index: 99;
    /* display: none; */
}
#kongbai{
    position: absolute;
    top: 0;
    left: 201px;
    width: 174px;
    height: 660px;
}
.buchuxian{
    width: 0;
    height: 100%;
    overflow: hidden;
}

.lachu {
    width: 200px;
    height: 100%;
    animation: myfirst 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    /* transition-property: width;
    transition: width 1s 0s linear; */
}
@keyframes myfirst {
    from {width: 0;}
    to {width: 200px;}
    
}
.laru {
    width: 0;
    height: 100%;
    animation: myfirst1 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    /* transition-property: width;
    transition: width 1s 0s linear; */
}
@keyframes myfirst1 {
    from {width: 200px;}
    to {width: 0;}
    
}

.youneirong {
    max-width: 1918px;
    height: 100%;
    /* margin-left: 201px; */
    margin-top: 60px;
    
    /* z-index: 0; */
}
canvas {
    margin: 0;
    padding: 0;
    touch-action: none;
    margin-top: -100px;
    /* background-color: skyblue; */
    /* z-index: -40; */
    z-index: 99;
}

#showtime2 {
    position: absolute;
    padding-top: 50px;
    width: 250px;
    height: 50px;
    top: 0;
    left: 50%;
    margin: 200px auto;
    font-size: 30px;
    margin-left: 30px;
    transform: translateX(-50%);
    color: red;
    z-index: -30;
}

#big_img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -660px;
    z-index: -55;
}